%p= I18n.t 'mailers.user_mailer.confirmation_instructions.greet', name: @name
%p= I18n.t 'mailers.user_mailer.confirmation_instructions.p1'
%p= link_to I18n.t('mailers.user_mailer.confirmation_instructions.link_text'), @link
