#layoutSidenav_nav
  %nav.sidenav.shadow-right.sidenav-light
    .sidenav-menu
      #accordionSidenav.nav.accordion
        .sidenav-menu-heading
          = t('views.sidenav.sections.core.title')
        = render 'layouts/sidenav/sections/organizations'
        = render 'layouts/sidenav/sections/projects'
