-# = render partial: 'layouts/header', locals: { icon_class: 'fas fa-lightbulb', title: @project.name, title_sub: i18n('title_sub', name: @project.name) }
- content_for :page_title do
  = @project.name

-# = react_component('projects/ProjectItemsApp', @props, { prerender: false })

#project-items-app
  %h1
    Issues
  #columns
    - ['Open', 'In Progress', 'Done', 'Archived', 'Released'].each do |name|
      .column.rounded
        = name
