@import "variables";

#project-items-field {
  margin-top: 90px;
  width: 100%;
  height: calc(100vh - 60px);

  #project-items-container {
    width: calc(100% + 40px);
    margin-left: -15px;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    div[data-react-class] {
      height: 100%;
    }

    #project-items-app {
      margin-top: 20px;
      margin-left: 40px;
      width: 100%;
      height: calc(100% - 60px);

      #columns {
        width: 100%;
        height: 100%;

        .column, .add-column-btn-container {
          margin-right: 30px;
          display: inline-block;
          height: 100%;
          overflow-y: scroll;
        }

        .column {
          width: 240px;
          background-color: rgba(0, 0, 0, .05);

          .column-title {
            padding: .3em .3em .1em .3em;
            overflow: hidden;

            &:hover .delete-column-btn {
              opacity: 0.5;
            }

            .title-name:hover {
              cursor: cell;
            }

            .delete-column-btn {
              opacity: 0;

              &:hover {
                opacity: 1;
              }
            }
          }

          .column-body {
            padding: 0.5em;
            .item-card {
              display: block;
              width: 100%;
              height: 100px;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
