$blue: #0061f2;
$indigo: #5800e8;
$purple: #6900c7;
$pink: #e30059;
$red: #e81500;
$orange: #f76400;
$yellow: #f4a100;
$green: #00ac69;
$teal: #00ba94;
$cyan: #00cfd5;
$white: #fff;
$gray: #687281;
$gray-dark: #323f52;
$primary: #0061f2;
$secondary: #6900c7;
$success: #00ac69;
$info: #00cfd5;
$warning: #f4a100;
$danger: #e81500;
$light: #eff3f9;
$dark: #1f2d41;
$black: #000;
$white: #fff;
$red: #e81500;
$orange: #f76400;
$yellow: #f4a100;
$green: #00ac69;
$teal: #00ba94;
$cyan: #00cfd5;
$blue: #0061f2;
$indigo: #5800e8;
$purple: #6900c7;
$pink: #e30059;
$red-soft: #eec7c7;
$orange-soft: #f1d6c7;
$yellow-soft: #f0e3c7;
$green-soft: #bfe5dc;
$teal-soft: #bfe8e5;
$cyan-soft: #bfecf2;
$blue-soft: #bfd6f8;
$indigo-soft: #d1c2f6;
$purple-soft: #d4c2ef;
$pink-soft: #edc2d9;
$primary-soft: #bfd6f8;
$secondary-soft: #d4c2ef;
$success-soft: #bfe5dc;
$info-soft: #bfecf2;
$warning-soft: #f0e3c7;
$danger-soft: #eec7c7;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$a-color-hover: #0042a6;
$caption-color: #a2acba;
$hr-border-top: 1px solid rgba(0, 0, 0, 0.1);
$mark-color: #fcf8e3;
$img-thumbnail-border: 1px solid #d7dce3;
$white: #fff;
$table-border-color: #e3e6ec;
$table-border-light: 1px solid $table-border-color;
$table-border-heavy: 2px solid $table-border-color;
$dark-transparent: rgba(0, 0, 0, 0.05);
$gray-transparent: rgba(227, 230, 236, 0.25);
$blue-light: #b8d3fb;
$blue-light-hover: #a0c4fa;
$blue-med: #7aadf8;
$blue-med-secondary: #b17ae2;
$blue-secondary: #d5b8ef;
$table-secondary-hover: #c9a3ea;
$table-success: #b8e8d5;
$table-success-thead: #7ad4b1;
$table-success-hover: #a5e2ca;
$table-info: #b8f2f3;
$table-info-thead: #7ae6e9;
$table-hover: #a2eeef;
$table-warning: #fce5b8;
$table-warning-thead: #f9ce7a;
$table-warning-hover: #fbdca0;
$table-danger: #f9bdb8;
$table-danger-thead: #f3857a;
$table-danger-hover: #f7a7a0;
