%li.nav-item.dropdown.no-caret.mr-3.dropdown-nav
  .dropdown.show
    %li.nav-item.dropdown.no-caret.mr-3.dropdown-nav
      %a.btn.btn-icon.btn-dark.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => 'javascript:void(0);', :role => 'button'}
        %i.fa.fa-crown.fa-2x.text-yellow
      .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up{'aria-labelledby' => 'navbarDropdownUserImage'}
        %h6.p-3
          = "Schema: #{@tenant.tenant_key}"
        .dropdown-divider
        = link_to admin_users_path, class: 'dropdown-item' do
          .dropdown-item-icon
            %i.fa.fa-users
          Users
