%ul.navbar-nav.align-items-center.ml-auto
  %li.nav-item.dropdown.no-caret.mr-3.dropdown-user
    .dropdown.show
      %a.btn.btn-icon.btn-transparent-dark.dropdown-toggle#navbarDropdownUserImage{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
        HELLO
      .dropdown-menu{'aria-labelledby'=>'navbarDropdownUserImage'}
        %p.dropdown-item one
        %p.dropdown-item two
        %p.dropdown-item three
.dropdown.show
  %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Dropdown link
  .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
    %a.dropdown-item{:href => "#"} Action
    %a.dropdown-item{:href => "#"} Another action
    %a.dropdown-item{:href => "#"} Something else here
