%ul.navbar-nav.align-items-center.ml-auto
  %li.nav-item.dropdown.no-caret.mr-3.dropdown-user
    .dropdown.show
      %a.btn.btn-icon.btn-transparent-dark.dropdown-toggle#navbarDropdownUserImage{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
        BD
      .dropdown-menu{'aria-labelledby'=>'navbarDropdownUserImage'}
        %p.dropdown-item one
        %p.dropdown-item two
        %p.dropdown-item three
