%li.nav-item.dropdown.no-caret.mr-3.dropdown-nav
  .dropdown.show
    %li.nav-item.dropdown.no-caret.mr-3.dropdown-nav
      %a.btn.btn-icon.btn-light.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => 'javascript:void(0);', :role => 'button'}
        %i.fa.fa-lightbulb.fa-2x
      .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up{'aria-labelledby' => 'navbarDropdownUserImage'}
        %h6.p-3
          = t 'views.navbar.projects.title'
        .dropdown-divider
        = render partial: 'layouts/navbar/project_dropdown_links'