= link_to edit_user_registration_path, class: 'dropdown-item' do
  .dropdown-item-icon
    %i.fa.fa-cog
  = t 'views.devise.edit_account'
= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
  .dropdown-item-icon
    %i.fa.fa-sign-out-alt
  = t 'views.devise.logout'
